
<div class = "container">
    <router-outlet><h1 class="text-center">
        <div class="jumbotron bg-light" style="text-align: center;" >
           <h1 class="text-dark " style="font-size: 200%; "  >EMPLOYEE CRUD</h1>   
        </div>  </h1></router-outlet>
</div>
<div class="row container ml-2">
    <div class="col-3 ml-0 d-flex align-items-stretch mt-4" *ngFor="let employee of employees">
        <div class="card " style="width: 17rem; ">
            <img class="card-img-top" src="https://i.imgur.com/tdi3NGa.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ employee.firstName }}  {{ employee.lastName }}</h5>
                <!-- <p class="m-0">ID:{{empD.id}}</p> -->
                <p>Email: {{ employee.emailId }}</p>
                <a (click) = "updateEmployee(employee.id)" class="btn btn-outline-primary mr-3 ">Edit</a>
                <a (click) = "deleteEmployee(employee.id)" class="btn btn-outline-primary ml-5 mr-2">Delete</a>
            </div>
        </div>

    </div>
</div>
